/* FuturisticCursor.css */
* {
  cursor: none !important;
}

.futuristic-cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  transform: translate(30%, 50%);
  pointer-events: none;
  z-index: 9999999;
  background: url('pastel-cursor.svg') no-repeat center center;
  background-size: contain;
  transition: transform 0.1s ease;
}

.cursor-pointer {
    display: none;
}

.cursor-trail {
  display: none;
}