/* FuturisticCursor.css */
* {
  cursor: none !important;
}

.futuristic-cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  transform: translate(30%, 50%);
  pointer-events: none;
  z-index: 9999999;
  background: url('https://img.icons8.com/?size=48&id=gKFt9iFv39hT&format=png') no-repeat center center;
  background-size: contain;
  transition: transform 0.1s ease;
}

.cursor-pointer {
    display: none;
}

.cursor-trail {
  display: none;
}



@media (max-width: 768px) {
  .futuristic-cursor {
    display: none;
  }
}